version: "3.9"

services:
  server:
    build: ./server
    container_name: hireportal-server
    restart: always
    ports:
      - "5000:5000"
    environment:
      PORT: 5000
    env_file:
      - ./server/.env

  client:
    build: ./client
    container_name: hireportal-client
    restart: always
    ports:
      - "3000:80"
    depends_on:
      - server
