name: HirePortal deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Use Node
        uses: actions/setup-node@v4
        with:
          node-version: 18


      # ================= Backend =================
      - name: Deploy Backend
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd /var/www/hireportalWithCiCd
            git pull

            cd server
            npm install
            pm2 restart hireportal-cicd || pm2 start index.js --name hireportal-cicd


      # ================= Frontend Build on VPS =================
      - name: Build Frontend on VPS
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd /var/www/hireportalWithCiCd
            git pull

            cd client
            npm install --legacy-peer-deps

            # clean old build
            rm -rf dist

            # build using VPS .env
            npm run build


      # ================= Reload Nginx =================
      - name: Reload Nginx
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: sudo systemctl reload nginx
